<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR 404</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/style/utils/variable.css"/>
    <link rel="stylesheet" href="/static/style/bases/reset.css"/>
    <link rel="stylesheet" href="/static/style/components/button.css"/>
    <link rel="stylesheet" href="/static/style/pages/404.css"/> 
    <link rel="stylesheet" href="/static/style/utils/animation.css"/>
  </head>
  <body>
    <div >
      <h1>404</h1>
      <h2>Page not found</h2>
      <p>The page you are looking for does not exist.
        How you got here is a mystery. But you can click the button below
        to go back to the homepage.
      </p>
      <a href="/">
        <button>HOME</button>
      </a>

      <pre>
        <code>
          {{error}}
        </code>
      </pre>
    </div>
  </div>
  </body>
</html>